.main-footer {
  background: rgb(56, 55, 55);
}

.footer-boxes {
  display: flex;
  /* text-align: center; */
  /* justify-content: space-between; */
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footer-boxes .box {
  flex: 0 1 25%;
}
.footer-boxes .box:not(:last-child) {
  padding-right: 2rem;
}
.footer-boxes .box ul {
  list-style-type: none;
}
.footer-boxes .box h4 {
  color: #fff;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.footer-boxes .box b {
  color: #fff;
}
.footer-boxes .box-1 li:first-child,
.footer-boxes .box-2 li:first-child {
  padding-bottom: 2rem;
}
.footer-boxes .box-3 li:not(:last-child) {
  border-bottom: 1.5px solid rgb(53, 51, 51);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.footer-boxes .box-4 {
  display: flex;
  flex-direction: column;
}
.footer-boxes .box-4 .footer-item-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-boxes .box-4 .flickr-images {
  /* margin-right: 0.3rem; */
  flex: 0 1 24%;
}
.footer-boxes .box-4 .flickr-images img {
  width: 100%;
}
.footer-copyright-social-media {
  background: rgb(36, 35, 35);
  display: flex;
}
.footer-copyright-social-media .empty-div {
  flex: 0 1 10%;
}
.footer-copyright-social-media .copyright-social-media {
  flex: 0 1 80%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
.footer-copyright-social-media .copyright-social-media p {
  flex: 0 1 70%;
}
.footer-copyright-social-media .copyright-social-media .footer-social {
  display: flex;
  list-style-type: none;
  flex: 0 1 30%;
  justify-content: space-around;
  font-size: 3rem;
}
.footer-copyright-social-media .up-arrow {
  flex: 0 1 10%;
  font-size: 3rem;
  align-self: center;
  justify-content: flex-end;
  display: flex;
  padding-right: 2rem;
}
